node_modules

# ignore the build directory
build

# ignore the coverage directory
coverage

# ignore the dist directory
dist

# Ignore the .github directory in the development branch only
/.github/*
!.github/workflows/
