body {
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
}

<!--/* Path: style.css */-->
a {
  color: #33b76a;
  text-decoration: none;
}
<!--/* Paragraph style */-->
p {
font-size: 16px;
line-height: 1.5;
margin-bottom: 1em;
padding: 5px;
}

body {
font-family: Arial;
margin: 0;
padding: 0;
background-color: #121212;
color: #ffffff;
}

header {
background-color: #1a1a1a;
color: #14a550;
text-align: center;
}

section {
padding: 2em;
background-color: #1a1a1a;
}

h1 {
color: #0e71b3;
padding: 10px;

}

h2 {
color: #3498db;
}

footer {
background-color: #1a1a1a;
color: #3498db;
text-align: center;
padding: 1em;
position: absolute;
bottom: 0;
width: 100%;
}