body {
   background-color: black;
}

h1 {
   color: white;
}

li {
   color: white;
}

ol {
   color: white;
}

#taskList {
   list-style-type: none;
   padding: 0;
   margin: 0;
}


button#new-task {
   background-color: rgb(255, 255, 255);
   color: rjb (255, 255, 255);
   font-size: 16px;
   padding: 10px 20px; /* padding between text and border */
   margin: 10px 10px 10px 10px; /* margin between buttons */ 
}

button#delete-sel-tasks {
   background-color: rgb(255, 255, 255);
   color: rjb (255, 255, 255);
   font-size: 16px;
   padding: 10px 20px;
   margin: 10px 10px 10px 10px; /* margin between buttons */ 
}

button#delete-all-tasks {
   background-color: red;
   color: white;
   font-size: 16px;
   padding: 10px 20px;
   margin: 10px 10px 10px 10px; /* margin between buttons */ 
}