body {
   background-color: black;
}

/* combined elements */
h1, ol, li {
   color: white;
}

.staub-task-list {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

/* reduced repetitive styling */
/* use classes instead of IDs */
.staub-button{
   font-size: 16px;
   padding: 10px 20px;
   margin: 10px 10px 10px 10px; /* margin between buttons */
}

.staub-green{
   background-color: green;
   color: white;
}

.staub-red{
   background-color: red;
   color: white;
}
